@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 159 71.4% 93.1%;
    --foreground: 220 15% 25%;
    --card: 0 0% 100%;
    --card-foreground: 220 15% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 15% 25%;
    --primary: 158 52% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 159 50% 88%;
    --secondary-foreground: 220 15% 25%;
    --muted: 159 50% 88%;
    --muted-foreground: 220 10% 45%;
    --accent: 16 100% 65.7%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 159 30% 80%;
    --input: 159 30% 85%;
    --ring: 158 52% 46%;
    --chart-1: 158 52% 46%;
    --chart-2: 16 100% 65.7%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 240 5.9% 10%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 240 4.9% 83.9%;
  }

  .dark {
    --background: 220 15% 10%;
    --foreground: 0 0% 98%;
    --card: 220 15% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 220 15% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 158 52% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 15% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 15% 20%;
    --muted-foreground: 220 10% 65%;
    --accent: 16 100% 65.7%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 15% 25%;
    --input: 220 15% 25%;
    --ring: 158 52% 46%;
    --chart-1: 158 52% 46%;
    --chart-2: 16 100% 65.7%;

    --sidebar-background: 220 15% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 220 15% 10%;
    --sidebar-accent: 220 15% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 15% 25%;
    --sidebar-ring: 158 52% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
