@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 210 40% 98%;
    --card: 24 9.8% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 210 40% 98%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 210 40% 98%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 210 40% 98%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 0 72.2% 50.6%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24.6 95% 53.1%;
    --chart-1: 24.6 95% 53.1%;
    --chart-2: 0 72.2% 50.6%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 20 14.3% 4.1%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 24.6 95% 53.1%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 12 6.5% 15.1%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 12 6.5% 15.1%;
    --sidebar-ring: 24.6 95% 53.1%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 210 40% 98%;
    --card: 24 9.8% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 210 40% 98%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 210 40% 98%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 210 40% 98%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 0 72.2% 50.6%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24.6 95% 53.1%;
    --chart-1: 24.6 95% 53.1%;
    --chart-2: 0 72.2% 50.6%;

    --sidebar-background: 20 14.3% 4.1%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 24.6 95% 53.1%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 12 6.5% 15.1%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 12 6.5% 15.1%;
    --sidebar-ring: 24.6 95% 53.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
